$brand-color-primary: darken(#428bca, 6.5%);
$brand-color-secondary: #8dc63f;
$brand-color-black: #414042;
$brand-color-white: #FFF;
$border-default-size: 5px;
$brand-dark-background: rgba(25, 25, 25, 0.60);
