---
layout: page
title: Our Work
permalink: /docs/
headerTitle: Documents
headerSubCopy: Pulled from the file system
---

{% include global-header.html %}

<!-- Portfolio Start -->

<div class="container">

    {{ site.data.documents.intro | markdownify }}

</div>

<section id="documents">
  <div class="container">
    <div class="row">
      <div class="col-md-12">

        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active"><a href="#all" aria-controls="all" role="tab" data-toggle="tab">All</a></li>
          <li role="presentation"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Exhibitor</a></li>
          <li role="presentation"><a href="#general" aria-controls="general" role="tab" data-toggle="tab">General</a></li>
          <li role="presentation"><a href="#forms" aria-controls="forms" role="tab" data-toggle="tab">Forms</a></li>
          <li role="presentation"><a href="#encore" aria-controls="encore" role="tab" data-toggle="tab">Encore</a></li>
        </ul>

      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="all">
            <ul>
              {% for doc in site.static_files %}
              {% if doc.path contains 'docs/' %}
              <li class="">
                <a href="{{ site.baseurl }}{{ doc.path }}">{{doc.name}}</a>
              </li>
              {% endif %}
              {% endfor %}
            </ul>
          </div>
          <div role="tabpanel" class="tab-pane" id="home">
            <ul>
              {% for doc in site.static_files %}
              {% if doc.path contains 'docs/exhibitor' %}
              <li class="">
                <a href="{{ site.baseurl }}{{ doc.path }}">{{doc.name}}</a>
              </li>
              {% endif %}
              {% endfor %}
            </ul>
          </div>
          <div role="tabpanel" class="tab-pane" id="general">
            <ul>
              {% for doc in site.static_files %}
              {% if doc.path contains 'docs/general' %}
              <li class="">
                <a href="{{ site.baseurl }}{{ doc.path }}">{{doc.name}}</a>
              </li>
              {% endif %}
              {% endfor %}
            </ul>
          </div>
          <div role="tabpanel" class="tab-pane" id="forms">
            <ul>
              {% for doc in site.static_files %}
              {% assign lowercase_name = doc.basename | downcase %}
              {% if doc.path contains 'docs/' and lowercase_name contains 'form' %}
              <li class="">
                <a href="{{ site.baseurl }}{{ doc.path }}">{{doc.name}}</a>
              </li>
              {% endif %}
              {% endfor %}
            </ul>
          </div>
          <div role="tabpanel" class="tab-pane" id="encore">
            <ul>
              {% for doc in site.static_files %}
              {% assign lowercase_name = doc.basename | downcase %}
              {% if doc.path contains 'docs/' and lowercase_name contains 'encore' %}
              <li class="">
                <a href="{{ site.baseurl }}{{ doc.path }}">{{doc.name}}</a>
              </li>
              {% endif %}
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>



{% include call-to-action.html %}