<!-- Call to action Start -->
<section id="call-to-action">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h2>We Do Stuff the Best.</h2>
          <p>Use the {{site.data.business.name}} for all sorts of stuff its really the best and everyone loves it. This call to action in the _includes folder is used across multiple pages.</p>
          <a class="btn btn-default btn-call-to-action" href="#">Lets Get Started</a>
        </div>
      </div>
    </div>
  </div>
</section>